.Container {
    width: 80vw;
    margin: auto;
    border: 1px solid black;
    padding: 2em;
    box-shadow: 1px 1px 1px 1px rgb(124, 118, 118);
    background: $firstcolor;

    h1 {
        font-size: 89px;
        color: $secondcolor;
    }

    h2 {
        color: bisque;


    }

}