@mixin medidas(  $d, $c  ,$v  ,$h, $w , $color)  {

        display: $d;
        justify-content: $c;
        align-items: $v ; 
        height: $h;
        width: $w;
        background-color: $color;
}
.header{   
        .container{
            width: 100vw;
        .container-section-3{
                // border: 5px solid rebeccapurple ;
                @include  medidas(flex,  space-around  ,  center ,70px ,10% ,"" );
                div{
                    height: 50px;
                    width: 10px; 
                    background-color: #845007;
                }
                h1{
                    font-weight: 100;
                    font-size: 40px
                }
        }
        .container-ul{
            .hamburgueza {
                    display: none
                }
            .secnter_2{
            
            @include medidas(flex, space-around, center, 70px, 50%, "");
            
            }
            @include  medidas(flex, space-around ,  center ,70px ,100% ,"")  ;
            margin: auto;
            border-bottom:1px solid whitesmoke;
            box-shadow: 2px 2px 2px 2px  darken($color: whitesmoke, $amount: 50);

            li{
                list-style: none;

            font-family: 'Lato', sans-serif;
            font-weight: 900;
                &:hover{
                    cursor: pointer;
                }
            }
            .btn{
                    @extend %btn;
            }
            .container-section-2{
                @include  medidas(flex,space-around,center,70px, 50%, "");
                .redirect-posting{
                        @include medidas(flex ,space-around,center,20px,"","");
                        &:hover{
                            border-radius: 5px;
                            background-color:  lighten($color: $firstcolor, $amount: 20)
                            
                        }
                        padding: 1em;
                }
            }
        }
        }
}
.Place-center{
    display: none;
}


@media screen and (max-width:  900px) {
        .header{
            .container{
                .container-section-3{
                    flex-direction: column;
                    align-items: center;
                    height: -40px;
                    div{
                        width: 80px;
                    }
                }
                .container-ul{
                    .hamburgueza {
                            display: block
                        }
                        .secnter_2{
                            transition: all 1s ease-in-out;
                            position: absolute;
                            z-index: 1;
                            top:70px;
                            left: -440px;
                            height: 100vh;
                            flex-direction: column;
                            justify-content: start;
                            background-color: white;
                            border-top: 1px solid gray ; 
                     
                            li{
                                border-bottom: 1px solid rgb(185, 182, 182);;
                                border-top: 1px solid rgb(185, 182, 182);
                                width: 100%;
                                text-align: center;
                                padding: 1em;
                            font-family: 'Quicksand', sans-serif;
                            }
                            h2{
                                display: block;
                                padding-top: 250px;
                                font-size: 30px;
                                text-align: center;
                            }                            
                        }
                        .añadir {
                            transform: translateX(440px);      
                            transition: all .5s ease-in-out;
                        }
                }
            }
    
        }
}

